<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>973227824847-4rvumvkloqscbv4nf4ion6n45n75rvqh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.973227824847-4rvumvkloqscbv4nf4ion6n45n75rvqh</string>
	<key>API_KEY</key>
	<string>AIzaSyAhSXM_NzZGGGh-14vEXI56a8nSYqCGdm0</string>
	<key>GCM_SENDER_ID</key>
	<string>973227824847</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.cakranegara.quizapp</string>
	<key>PROJECT_ID</key>
	<string>quizapp-a6b9a</string>
	<key>STORAGE_BUCKET</key>
	<string>quizapp-a6b9a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:973227824847:ios:6345b6a39c9a0499</string>
	<key>DATABASE_URL</key>
	<string>https://quizapp-a6b9a.firebaseio.com</string>
</dict>
</plist>